<h2>Create your order :</h2>
<div class="mb-3">
  <label for="prdCat" class="form-label">Category:</label>
  <select
    class="form-select form-select-lg"
    name="prdCat"
    id="prdCat"
    [(ngModel)]="selectedCategoryId"
  >
    <!-- Optionally include a default option -->
    <!-- <option [ngValue]="null">Select one</option> -->
    <option *ngFor="let cat of CategoryList" [value]="cat.id">
      {{ cat.name }}
    </option>
  </select>
</div>

<hr />
<div class="bg-warning">
  <app-product-list
    [sentCategoryId]="selectedCategoryId"
    (TotalPriceChanged)="OnTotalPriceChanged($event)"
  ></app-product-list>
</div>

<hr />
<div>
  <h3>Enter your Name :</h3>
  <input #ClientNameInp type="text" class="form-control" />
</div>
<h3>Order Total Price : {{ receivedOrderTotalPrice }}</h3>
<button type="button" class="btn btn-success" (click)="CompleteOrder()">
  Place Order
</button>
